html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

/* end of global */

/*
 * Styles for the deck of cards
 */

.deck {
    width: 650px;
    min-height: 650px;
    background: -webkit-linear-gradient(290deg, #02ccba 0%, #aa7ecd 100%);
    background: -o-linear-gradient(290deg, #02ccba 0%, #aa7ecd 100%);
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
            box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 3em;
    /* this is set to fix an issue with restart-icon__holder*/
    z-index: 1;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
            box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

/* make the animation faster on flip and flip back */
.deck .card.flipInY {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
}

.deck .card.flipped {
  -webkit-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: -15px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart-icon__holder {
    cursor: pointer;
    /* those edits is for making the icon more clickable*/
    width: 48px;
    height: 48px;
    /* PS: i learned this from udacity responsive lesson :) */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.score-panel .restart-icon__holder i {
  margin-top: 4px;
}

/* start of win game message section  */

#win-message-section {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  /* to fix the issue which happend because of  card z-index */
  z-index: 9;
}

/*
** animations
*/

/* svg */

#win-message-section .righ-mark {
  width: 70px;
}

.circ{
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    /* styles */
    fill: #ffffff;
    stroke: rgba(0, 0, 0, 0.1);
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.tick{
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
    -o-transition: stroke-dashoffset 1s 0.5s ease-out;
    transition: stroke-dashoffset 1s 0.5s ease-out;

    /* styles */
    fill:none;
    stroke: #8bd599;
    stroke-width:2;
    stroke-linejoin:round;
    stroke-miterlimit:10;
}
.drawn svg .path{
    opacity: 1;
    stroke-dashoffset: 0;
}

/* the rest of elements */

.game-win-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  -webkit-transition-delay: 0.7s;
       -o-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.fade-in {
  opacity: 1;
  visibility: visible;
}

#win-message-section h2 {
  text-align: center;
}

#win-message-section .txt-holder {
  text-align: center;
  color: #6c6c6c;
  margin-bottom: 1em;
}

#win-message-section .txt-holder .txt {
  margin: 0;
}

#win-message-section .play-again__botton {
  background: #02ccba;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}

/* end of win the game message section */
/* start of leader board section */
#leader-board {
  position: fixed;
  z-index: 15;
  top: 15px;
  left: 15px;
  width: 300px;
  background: #02ccba;
  color: #ffffff;
  border-radius: 6px;
  border: 3px solid #02ac9d;
  padding: 1em;
}

#leader-board header {
  text-align: center;
  text-transform: uppercase;
}

#leader-board header h2 {
  border-bottom: 2px solid #02ac9d;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0.5em;
}

#leader-board article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#leader-board article .leader-board__info:not(:last-of-type) {
  margin-bottom: 10px;
}

#leader-board .scored.decoration {
  color: gold;
  border: 1px dashed gold;
  display: inline-block;
  padding: 2px 10px;
  margin-top: 0.7em;
}

/* end of leader board section */
/* start of preloader */
#preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#preloader .preloader-dick {
  width: 280px;
  height: 280px;
  background: -webkit-linear-gradient(290deg, #02ccba 0%, #aa7ecd 100%);
  background: -o-linear-gradient(290deg, #02ccba 0%, #aa7ecd 100%);
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
          box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#preloader .preloader-dick .preloader-card {
  height: 100px;
  width: 100px;
  background: #2e3d49;;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
          box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

#preloader .preloader-dick .preloader-card:nth-of-type(1) {
  -webkit-animation: cardOne 1s linear infinite;
          animation: cardOne 1s linear infinite;
}

#preloader .preloader-dick .preloader-card:nth-of-type(2) {
  -webkit-animation: cardTwo 1s linear infinite;
          animation: cardTwo 1s linear infinite;
}

#preloader .preloader-dick .preloader-card:nth-of-type(3) {
  -webkit-animation: cardThree 1s linear infinite;
          animation: cardThree 1s linear infinite;
}

#preloader .preloader-dick .preloader-card:nth-of-type(4) {
  -webkit-animation: cardFour 1s linear infinite;
          animation: cardFour 1s linear infinite;
}

@-webkit-keyframes cardOne {
  0% {
    background: #02ccba;
  }

  49.9% {
    background: #02ccba;
  }

  50% {
    background: #2e3d49;
  }

}

@keyframes cardOne {
  0% {
    background: #02ccba;
  }

  49.9% {
    background: #02ccba;
  }

  50% {
    background: #2e3d49;
  }

}

@-webkit-keyframes cardTwo {
  50.9% {
    background: #2e3d49;
  }

  51% {
    background: #02ccba;
  }

  99% {
    background: #02ccba;
  }
}

@keyframes cardTwo {
  50.9% {
    background: #2e3d49;
  }

  51% {
    background: #02ccba;
  }

  99% {
    background: #02ccba;
  }
}

@-webkit-keyframes cardThree {
  50.9% {
    background: #2e3d49;
  }

  51% {
    background: #02ccba;
  }

  99% {
    background: #02ccba;
  }
}

@keyframes cardThree {
  50.9% {
    background: #2e3d49;
  }

  51% {
    background: #02ccba;
  }

  99% {
    background: #02ccba;
  }
}

@-webkit-keyframes cardFour {
  0% {
    background: #02ccba;
  }

  49.9% {
    background: #02ccba;
  }

  50% {
    background: #2e3d49;
  }
}

@keyframes cardFour {
  0% {
    background: #02ccba;
  }

  49.9% {
    background: #02ccba;
  }

  50% {
    background: #2e3d49;
  }
}

#preloader .preloader-txt {
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* end of preloader */

/* overlap edits */

/* i'm not using !important here to override the element style because i nested the element from his parent so it overrides it without !important  */
.deck .card.wrong-answer {
  background: #f25327;
}

/* i'm using !important here to override the element style because i didn't nested it from his parent */
.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}
